<div class="header bg-gradient-danger py-7 py-lg-8" style="background: url(https://i.pinimg.com/originals/d0/51/4d/d0514d25da2784b9c8ce4de5a919cde3.jpg) no-repeat bottom !important;
background-size: cover !important;margin-bottom: 170px">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome To our platform!</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-md-6" style="color: white">
      <h2 class="section-heading text-uppercase" style="color: white">About Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim excepturi, sapiente natus et ipsam maxime labore sint, consequatur voluptatibus deleniti necessitatibus tempora reiciendis sequi dolor voluptatem doloribus, unde quas, magni? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim excepturi, sapiente natus et ipsam maxime labore sint, consequatur <b>voluptatibus deleniti necessitatibus tempora reiciendis sequi dolor voluptatem doloribus</b>, unde quas, magni?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim excepturi, sapiente natus et ipsam maxime labore sint, consequatur voluptatibus deleniti necessitatibus tempora reiciendis sequi dolor voluptatem doloribus, unde quas, magni?</p>
    </div>
    <div class="col-md-6">
      <iframe width="670" height="470" src="https://www.youtube.com/embed/75p-N9YKqNo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <section class="page-section" id="about">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase" style="color: white !important;">Our History</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
      <ul class="timeline">
        <li>
          <div class="timeline-image"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2009-2011</h4>
              <h4 class="subheading">Our Humble Beginnings</h4>
            </div>
            <div class="timeline-body"><p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>March 2011</h4>
              <h4 class="subheading">An Agency is Born</h4>
            </div>
            <div class="timeline-body"><p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
          </div>
        </li>
        <li>
          <div class="timeline-image"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>December 2015</h4>
              <h4 class="subheading">Transition to Full Service</h4>
            </div>
            <div class="timeline-body"><p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
          </div>
        </li>
      </ul>
    </div>
  </section>

</div>
